.sidebarStyle {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin: 5px;
    div{
        text-align: center;
        background-color: #4c66cd;
        color: #ffffff;
        width: 100px;
        margin: 7px;
        padding: 10px;
        border-radius: 40px;
        font-weight: bold;
    }
    z-index: 1 !important;
    }